:root {
  --primary-color: #46a358;
}

.navigation-container {
  display: flex;
  border-bottom: 0.5px solid var(--primary-color);
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.nav-items-container {
  display: flex;
  gap: 50px;
}
.nav-items-container span {
  font-family: sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  display: inline-block;
  padding: 15px 0px;
}

.active-item {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f580;
}
body button {
  color: white;
  background-color: var(--primary-color);
  border: 0px;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 0%;
}

.primary-color {
  color: var(--primary-color);
}

.image {
  width: 450px;
  height: 450px;
  padding: 5px 30px 5px 90px;
}

.text-container {
  padding-bottom: 44px;
}

section {
  max-width: 1200px;
  max-height: 450px;
  margin: 0 auto;
}

.hero-left-side {
  padding-left: 40px;
}

.hero-title {
  font-family: sans-serif;
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 7px;
}

.hero-h1 {
  font-family: sans-serif;
  font-size: 63px;
  color: #3d3d3d;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 5px;
}
.hero-paragraph {
  font-family: sans-serif;
  font-size: 14px;
  color: #727272;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}

.shop-button {
  width: 140px;
  height: 40px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.login-button {
  width: 100px;
  height: 35px;
  font-weight: 500;
  line-height: 100%;
}
