@font-face {
  font-family: "Cera Pro";
  src:
    url("../Fonts/CeraPro-Regular.woff") format("woff"),
    url("../Fonts/CeraPro-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src:
    url("Fonts/CeraPro-Bold.woff") format("woff"),
    url("Fonts/CeraPro-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #46a358;
}

body {
  font-family: "Cera Pro", sans-serif;

  background-color: #fbfbfb;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

.products-section {
  display: flex;
  gap: 50px;
}

.left-container {
  width: 310px;
  height: 774px;
}

.categories {
  background-color: #fbfbfb;
  padding: 15px 15px 25px 15px;
}

.categories-title {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  margin: 0 0 18px 0;
}

.category {
  font-size: 15x;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 14px 0;
  padding-left: 30px;
}

.category.active {
  color: var(--primary-color);
  font-weight: 700;
}

.sale-banner {
  margin-top: 20px;
  height: 300px;
  text-align: center;
  padding-top: 12px;
}

.sale-text {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.sale-discount {
  font-size: 23px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #3d3d3d;
}

.sale-image {
  height: 370px;
  margin-top: 10px;
  display: block;
}

.products-content {
  flex: 1;
  min-width: 0;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  gap: 30px;
}

.tab {
  font-size: 14px;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  border-bottom-color: var(--primary-color);
}

.sorting {
  display: flex;
  align-items: center;
  color: #3d3d3d;
  gap: 5px;
  font-size: 15px;
  line-height: 16px;
}

.sorting select {
  border: none;
  background-color: white;
  color: #3d3d3d;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 33px;
}

.product-card {
  width: 31%;
}

.product-image img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.product-info {
  margin-top: 31px;
}

.product-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 12px 0 6px 0;
}

.product-price {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
}

.pages {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 90px;
}

.page {
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300px;
}

.page.active {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
  font-size: 18px;
  line-height: 16px;
  font-weight: 700px;
}

.page.next {
  font-size: 16px;
}
