.clr {
  color: rgb(70, 139, 63);
}

.bt {
  width: 300px;
  height: 45px;
  top: 387px;
  left: 100px;
  font-family: "Poppins";
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: rgb(70, 139, 63);
  border: none;
  border-radius: 3px;
}

.input_dsgn {
  padding-left: 15px;
  width: 290px;
  height: 35px;
  top: 138px;
  left: 100px;
  font-size: 16px;
  font-family: "Poppins";
  border: 1px solid #a7a7a7;
  border-opacity: 0.7;
  border-radius: 7px;
  margin: 10px;
}
